/* style.css */
body {
    font-family: "Russo One", sans-serif;
    background-color: #39a7bb;
}

header {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 25px;
    position: center;
    text-align: center;
    border: 5px;
    border-radius: 8px;
}
.card-container_img {
    display:flexbox;
    justify-content: space-between;

}
.img{
 justify-items: right;
 position: relative;
 border-radius: 30px;
 padding: 10px;
 flex: 1;
 box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.contato {
    text-align: left;
}
.card-container_social {
    display: flex;
    justify-content: space-between;
  
}
.card_social {
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    margin: 10px;
    flex: 1;
    
  }

.card-container {
    display: flex;
    justify-content: space-around;
    
}
  
  .card {
    background-color: white;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(240, 228, 228, 0.39);
    box-shadow: 2px 2px 8px 4px  rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: 40px;
    flex: 1;
    text-align:left;
    color: black;
    font-size: 20px;

  }
.card h2{
    text-align:center;
    font-size: 35px;

}  

main {
    padding: 2rem;
}

footer {
    background-color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 7px;
    margin-right: 8px;
    right: 0;
    font-size: small;
    color: black;
    border-radius: 8px;
}

@media (max-width: 600px) {
    main {
        padding: 100px;
        flex: 1;
    }
    .card-container {
        width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      }
}

@media (max-width: 800px) {
    main {
        padding: 1rem;
    }
}

@media (max-width: 400px) {
    main {
        padding: 1rem;
    }
}
